<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row list-group main-container">
          <!-- <div class="col-xs-12 list-group-item top"> -->
          <!-- <a href="#" class="list-group-item clearfix"> -->
          <a href="#">
            <!-- *ngFor="let contact of contact"
              > -->
            <h2 class="list-group-item-heading">{{ contact.name }}</h2>
            <div class="pull-left">
              <img
                [src]="contact.imageUrl"
                alt="{{ contact.name }}"
                class="img-responsive"
                style="max-height: 150px"
              />
            </div>
            <span class="pull-right">
              <button class="btn btn-primary">Edit</button>
              <button class="btn btn-danger">Delete</button>
            </span>
          </a>
          <!-- </div> -->
        </div>
      </div>

      <div class="panel-body">
        <div class="col-xs-12">
          <p class="list-group-item-text">
            <strong>Email: </strong>{{ contact.email }}
          </p>
          <p class="list-group-item-text">
            <strong>Phone: </strong> {{ contact.phone }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
