<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row list-group main-container">
          <!-- <div class="col-xs-12 list-group-item top"> -->
          <!-- <a href="#" class="list-group-item clearfix"> -->
          <a style="cursor: pointer">
            <!-- *ngFor="let contact of contact"
              > -->
            <h2 class="list-group-item-heading">{{ contact.name }}</h2>
            <div class="pull-left">
              <img
                [src]="contact.imageUrl"
                alt="{{ contact.name }}"
                class="img-responsive"
                style="max-height: 150px"
              />
            </div>
            <span class="pull-right">
              <a
                routerLink="/contacts/{{ contact.id }}/edit"
                class="btn btn-primary"
                >Edit</a
              >
              <a (click)="onDelete()" class="btn btn-danger">Delete</a>
            </span>
          </a>
          <!-- </div> -->
        </div>
      </div>

      <div class="panel-body">
        <!-- <div class="col-xs-12" *ngIf="!contact.group"> -->
        <div class="col-xs-12">
          <p class="list-group-item-text">
            <strong>Email: </strong>{{ contact.email }}
          </p>
          <p class="list-group-item-text">
            <strong>Phone: </strong> {{ contact.phone }}
          </p>
        </div>

        <div class="panel-body" *ngIf="contact.group">
          <!-- <div class="panel-body" *ngIf="groupContacts"> -->
          <div class="form-group">
            <label for="groupList">Group Contacts:</label>
            <div class="row" id="groupList" style="min-height: 3rem">
              <div *ngFor="let contact of contact.group; let i = index">
                <!-- <div *ngFor="let contact of groupContacts; let i = index"> -->
                <div>
                  <cms-contact-item
                    class="col-sm-11"
                    [contact]="contact"
                  ></cms-contact-item>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <p class="list-group-item-text">
            <strong>Team:</strong> {{ contact.group }}
          </p> -->
      </div>
    </div>
  </div>
</div>
