<!-- <cms-header (selectedFeatureEvent)="switchView($event)"></cms-header> -->
<cms-header></cms-header>

<div class="container pull-left">
  <router-outlet></router-outlet>
  <!-- //--------Deleted after adding Routes -------- -->
  <!-- <cms-documents *ngIf="selectedFeature === 'documents'"></cms-documents>
  <cms-message-list *ngIf="selectedFeature === 'messages'"></cms-message-list>
  <cms-contacts *ngIf="selectedFeature === 'contacts'"></cms-contacts> -->
</div>
<!-- <cms-contacts></cms-contacts> -->
<div class="container">
  <div class="row">
    <div class="col-md-5"></div>
    <!-- <cms-contacts></cms-contacts> -->
  </div>
</div>
